<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifreework.mapper.system.ConfigMapper">
	<sql id="configColumns">
			CONFIG_KEY,
			CONFIG_VALUE,
			CONFIG_NOTE
	</sql>

	<select id="queryConfigList"
		resultType="hashMap">
		select
		<include refid="configColumns" />
		from  SYS_CONFIG  
	</select>
	
	<update id="update" parameterType="hashMap">
		update  SYS_CONFIG
		<trim prefix="SET" suffixOverrides=",">  
	        <if test="configValue != null ">  
	           CONFIG_VALUE = #{configValue},
	        </if>  
	        <if test="configNote != null ">  
	           CONFIG_NOTE = #{configNote}
	        </if>  
		</trim>
		<trim prefix="where">  
	        <if test="configKey != null ">  
	           CONFIG_KEY = #{configKey}
	        </if>  
	    </trim>
	</update>
</mapper>