<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifreework.mapper.system.RequestLogMapper">

	<sql id="requestLogColumns">
			REQUEST_LOG_ID,
			SESSION_ID,
			USERNAME,
			URL,
			REQUEST_TIME,
			RESPONSE_TIME,
			REQUEST_IP,
			BROWSER,
			BROWSER_VERSION,
			DEVICE_TYPE,
			OS_INFO,
			OS,
			RESPONSE_DEVICE,
			RESPONSE_IP,
			RESPONSE_NODE
	</sql>

	<resultMap type="com.ifreework.entity.system.RequestLog" id="requestLog">
		<id column="REQUEST_LOG_ID" property="requestLogId"/>
		<result column="SESSION_ID" property="sessionId"/>
		<result column="USERNAME" property="username"/>
		<result column="URL" property="url"/>
		<result column="REQUEST_TIME" property="requestTime"/>
		<result column="RESPONSE_TIME" property="responseTime"/>
		<result column="REQUEST_IP" property="requestIp"/>
		<result column="BROWSER" property="browser"/>
		<result column="BROWSER_VERSION" property="browserVersion"/>
		<result column="DEVICE_TYPE" property="deviceType"/>
		<result column="OS_INFO" property="osInfo"/>
		<result column="OS" property="os"/>
		<result column="RESPONSE_DEVICE" property="responseDevice"/>
		<result column="RESPONSE_IP" property="responseIp"/>
		<result column="RESPONSE_NODE" property="responseNode"/>
		
		<association property="resource" javaType="com.ifreework.entity.system.Resource">
			<result column="RESOURCE_NAME" property="resourceName" />
			<result column="RESOURCE_ID" property="resourceId" />
		</association>
		
	</resultMap>


	
	<select id="queryPageList" parameterType="pd"
		resultMap="requestLog">
		select
			REQUEST_LOG_ID,
			SESSION_ID,
			USERNAME,
			URL,
			REQUEST_TIME,
			RESPONSE_TIME,
			REQUEST_IP,
			BROWSER,
			BROWSER_VERSION,
			DEVICE_TYPE,
			OS_INFO,
			OS,
			RESPONSE_DEVICE,
			RESPONSE_IP,
			RESPONSE_NODE,
			
			R.RESOURCE_NAME,
			R.RESOURCE_ID
		from SYS_REQUEST_LOG L
		left join SYS_RESOURCE R ON L.URL = R.RESOURCE_URL 
		<where>
			<trim  suffixOverrides="and">
				<if test=" url != null and  url != ''">
					and L.URL like '%' || #{url} || '%'
				</if>
			</trim>
		</where>
		
		<foreach collection="columns" item="column" index="index"
            open="order by" close="" separator=",">
            <if test="column.orderable">
            	${column.name}   ${column.orderDir}
            </if>
        </foreach>
	</select>


	<insert id="add" parameterType="com.ifreework.entity.system.RequestLog">
		<selectKey keyProperty="requestLogId" resultType="String" order="BEFORE">
			select sys_guid() from dual
		</selectKey>
		insert into SYS_REQUEST_LOG (<include refid="requestLogColumns"/>) 
		values 
		(
			#{ requestLogId,jdbcType=VARCHAR },
			#{ sessionId,jdbcType=VARCHAR },
			#{ username,jdbcType=VARCHAR },
			#{ url,jdbcType=VARCHAR },
			sysdate,
			#{ responseTime,jdbcType=INTEGER },
			#{ requestIp,jdbcType=VARCHAR },
			#{ browser,jdbcType=VARCHAR },
			#{ browserVersion,jdbcType=VARCHAR },
			#{ deviceType,jdbcType=VARCHAR },
			#{ osInfo,jdbcType=VARCHAR },
			#{ os,jdbcType=VARCHAR },
			#{ responseDevice,jdbcType=VARCHAR },
			#{ responseIp,jdbcType=VARCHAR },
			#{ responseNode,jdbcType=VARCHAR }
		)
	</insert>
</mapper>